.layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  width: 100vw;

  main {
    display: flex;
    flex-grow: 1;
  }

  /* @media only screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }*/
}
