:root {
  --max-width: 1100px;
  --border-radius: 12px;
  /*--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;*/

  /* Define global variables here */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Define dark mode variables here */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media only screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  /*html {
    color-scheme: dark;
  }*/
}
