:root {
  // Font Params
  --font-copy-main-size: 18px;
  --font-copy-main-family: 'Inter', sans-serif;

  --max-width: 1100px;
  --border-radius: 12px;

  --sidebar-margin: -100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Define dark mode variables here */
  }
}

* {
  box-sizing: border-box;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  padding: 0;
  margin: 0;
}

html,
body {
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

h5 {
  font-family: var(--font-copy-main-family);
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 0.13em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

p {
  font-family: var(--font-copy-main-family);
  font-size: var(--font-copy-main-size);
  font-weight: normal;
}

@media (prefers-color-scheme: dark) {
  /*html {
    color-scheme: dark;
  }*/
}
