:root {
  /** Font params */
  --font-copy-main-size: 18px;
  --font-copy-main-family: 'Inter', sans-serif;

  /** Global colors */
  --global-primary: 255, 255, 255;
  --global-secondary: 0, 0, 0;

  /** Sidebar params */
  --sidebar-background-color: 255, 255, 255, 1;
  --sidebar-color: 0, 0, 0, 1;
  --sidebar-margin: -100%;

  /** Helmet params */
  --helmet-display: flex;
  --helmet-background-color: 255, 255, 255, 0;
  --helmet-color: 0, 0, 0, 1;

  /** Rando important globas */
  --border-radius-main: 14px;
  --max-width: 1100px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /** Define dark mode variables here */
  }
}

* {
  box-sizing: border-box;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  padding: 0;
  margin: 0;
}

html,
body {
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  font-family: var(--font-copy-main-family);
  justify-content: center;
  padding: 1em;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

h1 {
  font-family: var(--font-copy-main-family);
  font-size: 42px;
  font-weight: bold;
}

h4 {
  font-family: var(--font-copy-main-family);
  font-size: 1.5em;
  font-weight: bold;
}

h5 {
  font-family: var(--font-copy-main-family);
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 0.13em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

p {
  font-family: var(--font-copy-main-family);
  font-size: var(--font-copy-main-size);
  font-weight: normal;
}

@media (prefers-color-scheme: dark) {
  /** html {
    color-scheme: dark;
  }*/
}
